<!DOCTYPE html>
<html>
<head>
    <title>Khuluma Groups: {{ room_name }}</title>
</head>
<body>
    <h2>Room: {{ room_name }}</h2>
    <div id="chat-box">
        <ul id="message-list">
            {% for message in messages %}
                <li>{{ message.sender.username }}: {{ message.content }}</li>
            {% endfor %}
        </ul>
    </div>
    <input id="chat-message-input" type="text" size="100">
    <button id="chat-message-submit">Send</button>

    <script>
        var roomName = "{{ room_name }}";
    </script>
    {% load static %}
    <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>



