{% extends "user/home.html" %}
{% block navbar %}
{{ block.super }}
{% endblock %}

<style>
    .forms{
        border: 1px slateblue;
        width: 100%;
        border-radius: 5px;
        padding: 10px 10px;
        font-size: 18px;
    }
</style>
<div class="chat-container2">
    <div class="id">
        <div>
            <a href="{%url 'home'%}"></a>

        </div>

    </div>
    
</div>

<div class="sub-container">
    <div class="chat-body" id="chat-body">



        <div class="chat-box-sent" id="chat-box-sent" style="display: none"></div>

    </div>
</div>