{% extends "user/home.html" %}
{% block navbar %}
{{ block.super }}
{% endblock %}

<style>
    .forms{
        border: 1px slateblue;
        width: 100%;
        border-radius: 5px;
        padding: 10px 10px;
        font-size: 18px;
    }
</style>
<div class="chat-container"> 
    <div class="main">
        <div class="logo">
            ChatMe
        </div>
        <div class="sub-main">
            <div class="main-user">
                <img src="" alt="profile-picture" />

            </div>
            <p>username</p>
        </div>
    </div>
    <div class="header">Messages</div>
    <div class="friends-container">
        <a href="#" style="color:black; text-decoration: none">

        </a>

    </div>
</div>
------------------------------------------------
<div class="chat-container2">
    <div class="id">
        <div>
            <a href="{%url 'home'%}"></a>

        </div>

    </div>
    
</div>

<div class="sub-container">
    <div class="chat-body" id="chat-body">



        <div class="chat-box-sent" id="chat-box-sent" style="display: none"></div>

    </div>
</div>
----

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ profile.user.username }}'s Profile</title>
</head>
<body>
    <h1>{{ profile.user.username }}'s Profile</h1>
    <img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}'s profile picture" width="150">
    <p>First Name: {{ profile.first_name }}</p>
    <p>Last Name: {{ profile.last_name }}</p>
    <p>Email: {{ profile.user.email }}</p>
</body>
</html>